/* Set the size of the div element that contains the map */
#map {
    min-height: 800px;
    width: 100%; /* The width is the width of the web page */
    margin-top: auto;
    margin-bottom: auto;
}
